.cart-no {
    position: relative;
    min-height: 1.05rem;
    min-width: 1.05rem;
    border-radius: 50%;
    background: #0d6efd;
    color: white;
    text-align: center;
    top: -22px;
    right: -12px;
    padding-top: 1px;
}

.btn {
    white-space: nowrap;
}
