<!-- https://www.codeply.com/p/P0KN7DNsEq -->
<nav class="navbar navbar-expand-md navbar-dark bg-primary mb-2" aria-label="Main navigation">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="/" [attr.aria-label]="title">
      {{title}}
    </a>
    <button class="navbar-toggler ms-auto p-1 border-0" type="button" data-bs-toggle="collapse" data-bs-target="navCommands"
      (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="navCommands">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navCommands" role="button" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav fs-5 fw-light">
        <li class="nav-item mx-1 my-1">
          <a routerLink="/" class="nav-link" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-1 my-1">
          <a routerLink="/shop" class="nav-link" routerLinkActive="active">Shop</a>
        </li>
        <li class="nav-item mx-1 my-1">
          <a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a>
        </li>
        <li class="nav-item mx-1 my-1">
          <a routerLink="/blog" class="nav-link" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item mx-1 my-1" *ngIf="!isProduction">
          <a routerLink="/test-error" class="nav-link" routerLinkActive="active">Errors</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item mx-1 my-1">
          <button class="btn btn-secondary fa fa-shopping-cart text-dark mt-1" style="max-height: 2rem;" routerLink="/basket">
            <div class="cart-no" *ngIf="(basketService.basketSource$ | async) as basket">
              {{getCount(basket.items)}}
            </div>
          </button>
        </li>
        <li class="nav-item mx-1 my-1">
          <button type="button" class="btn btn-secondary fw-light">Login</button>
        </li>
        <li class="nav-item mx-1 my-1">
          <button type="button" class="btn btn-secondary fw-light">Sign-up</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
