<header class="d-flex flex-wrap align-items-center justify-content-center mb-2 px-2 border-bottom">
  <div class="d-flex align-items-center py-3 px-2">

    <a href="/" class="d-flex align-items-center mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <img src="/assets/images/logo.png" alt="logo" style="max-height: 90px; max-width: 100%;">
      <span class="fs-4 px-2">{{title}}</span>
    </a>

    <ul class="nav nav-pills fs-4 align-items-center px-4">
      <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li class="nav-item"><a routerLink="/shop" class="nav-link" routerLinkActive="active">Shop</a></li>
      <li class="nav-item"><a routerLink="/contact" class="nav-link" routerLinkActive="active">Contact</a></li>
      <li class="nav-item"><a routerLink="/blog" class="nav-link" routerLinkActive="active">Blog</a></li>
      <li class="nav-item"><a routerLink="/test-error" class="nav-link" routerLinkActive="active">Errors</a></li>
    </ul>

    <div class="text-end align-items-center justify-content-center d-flex">
      <a class="position-relative">
        <i class="fa fa-shopping-cart fa-2x me-5 mt-2 text-dark"></i>
        <div class="cart-no">5</div>
      </a>
      <button type="button" class="btn btn-outline-primary me-2 fs-4">Login</button>
      <button type="button" class="btn btn-outline-primary fs-4">Sign-up</button>
    </div>
  </div>
</header>
