parameters:
- name: BuildConfiguration
  type: string
  default: 'Dev'

jobs:
- job: Build
  displayName: 'Build'
  steps:
  - task: NodeTool@0
    displayName: 'Install Node.js 18.16.0'
    inputs:
      versionSource: 'spec'
      versionSpec: '18.16.0'

  - task: UseDotNet@2
    inputs:
      packageType: 'sdk'
      version: '8.x'
      includePreviewVersions: true

  - task: Npm@1
    inputs:
      command: 'ci'
      workingDir: '$(System.DefaultWorkingDirectory)/frontend/art-store-app/'

  - task: DotNetCoreCLI@2
    displayName: 'DotNet publish'
    inputs:
      command: 'publish'
      publishWebProjects: true
      arguments: '--configuration ${{ parameters.BuildConfiguration }} --output $(Build.ArtifactStagingDirectory)/app'

  - task: CopyFiles@2
    inputs:
      SourceFolder: '$(System.DefaultWorkingDirectory)/.azure-pipelines'
      Contents: |
        iac.sh
        web-app.bicep
      TargetFolder: '$(Build.ArtifactStagingDirectory)/deployment'

  - task: PublishBuildArtifacts@1
    displayName: 'Publish Deployment Artifacts'
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'drop'
      publishLocation: 'Container'
